<h1>Merchant Index</h1>

<h2>Total spending: £<%= '%.2f' % @transactions.sum(&:amount)   %></h2>
<hr>

<% @merchants.each do |merchant| %>
<p> Name: <%= merchant.name() %> </p>
<p>Total spending at merchant: £<%= merchant.spending  %>  </p>
<br>
<form action="/tracker/view/merchant/<%= merchant.id %>" method="get">
  <input type="submit" value="Show all Transactions with Merchant">
</form>
<br>
<form action="/tracker/edit/merchant/<%= merchant.id %>" method="get">
  <input type="submit" value="Edit Merchant">
</form>
<br>
<form onsubmit="return confirm('Are you sure you want to delete this merchant?')" action="/tracker/delete/merchant/<%= merchant.id %>" method="post">
  <input type="submit" value="Delete Merchant">
</form>
<hr>
<% end %>
