<h1>All Transactions with <%= @merchant.name %> </h1>

<h2>Total spending: £<%= '%.2f' % @transactions.sum(&:amount)   %></h2>
<h2>Total spending at <%= @merchant.name %>: £<%= '%.2f' % @merchant.spending   %></h2>
<hr>

<% @transactions.select {|transaction| transaction.merchant.name == @merchant.name}.each do |transaction| %>


<p> Date: <%= transaction.time_stamp()[0..9] %> </p>
<p>Amount: £<%= '%.2f' % transaction.amount  %></p>
<p>Merchant: <%= transaction.merchant.name %> </p>
<p>Category: <%= transaction.category.name %></p>




<hr>
<% end %>
