
<div class="grid-row">
  <div class="cell">
    <div class="grid-column">
      <div class="cell" style="border:none;">
        <h2>Your budget details:</h2>
      </div
        <div class="cell">
          <h2 <%=@budget.budget_checker %>><%=@budget.budget_checker_warning %></h2>
        </div
    </div>
  </div>


  <div class="cell">
    <div class="grid-column">
      <div class="subcell" <%=@budget.budget_checker %>>
        <p > Current budget: £<%= '%.2f' % @budget.total %></p>
        <p> Budget start date: <%= @budget.time_stamp[0..9] %></p>
      </div>
      <div class="subcell">
        <form action="/tracker/ <%= @budget.id %>" method="post">
          <label for="budget">Set budget amount: £ </label>
          <input id="budget" type="number" name="total" value="" min="0.00" step="0.01" required>
          <br>
          <br>
          <label for="budget">Set budget start date:</label>
          <input id="budget" type="date" name="time_stamp" value="<%= Time.now() %>" required>
          <br>
          <br>
          <div class="subcell">
            <input class="button" type="submit" value="Update budget">
            </form>
            <br>
            <br>
          </div>
          </div>
    </div>
  </div>
</div>



    <div class="grid-row">
      <div class="cell">
        <h2>Your most recent transaction:</h2>
      </div>


      <div class="cell">
        <div class="grid-column">

          <% if @transaction != nil %>

          <p> Date: <%= @transaction.time_stamp[0..9] %> </p>

          <p>Amount: £<%= '%.2f' % @transaction.amount  %></p>

          <p>Merchant: <%= @transaction.merchant.name %> </p>

          <p>Category: <%= @transaction.category.name %></p>

          <%else %>

          <p>No transaction found - go spend some money!</p>

          <% end %>
        </div>
      </div>



    </div>
