<h1>Category Index</h1>


<h2>Total spending: £<%= '%.2f' % @transactions.sum(&:amount)   %></h2>
<hr>

<% @categories.each do |category| %>
<p>Name: <%= category.name %></p>

<p>Total spending within category: £<%= category.spending %>  </p>


<br>
<form action="/tracker/view/category/<%= category.id %>" method="get">
  <input type="submit" value="Show all Transactions for this Category">
</form>
<br>
<form action="/tracker/edit/category/<%= category.id %>" method="get">
  <input type="submit" value="Edit Category">
</form>
<br>
<form onsubmit="return confirm('Are you sure you want to delete this category?')" action="/tracker/delete/category/<%= category.id %>" method="post">
  <input type="submit" value="Delete Category">
</form>
<hr>
<% end %>
