<h1>Category Index</h1>


<h2>Total spending: £<%= '%.2f' % @transactions.sum(&:amount)   %></h2>
<hr>

<% @categories.each do |category| %>
<div class="grid-row">

  <div class="cell">
    <p>Name: <%= category.name %></p>
  </div>
  <div class="cell">
    <p>Total spending within category: £<%= category.spending %>  </p>
  </div>

  <div class="cell">
    <form action="/tracker/view/category/<%= category.id %>" method="get">
      <input class="button" type="submit" value="Show related transactions">
    </form>

    <form action="/tracker/edit/category/<%= category.id %>" method="get">
      <input class="button" type="submit" value="Edit Category">
    </form>

    <form onsubmit="return confirm('Are you sure you want to delete this category?')" action="/tracker/delete/category/<%= category.id %>" method="post">
      <input class="button" type="submit" value="Delete Category">
    </form>
  </div>
</div>
<% end %>
