<h1>All Transactions within <%= @category.name %> </h1>

<h2>Total spending: £<%= '%.2f' % @transactions.sum(&:amount)   %></h2>
<h2>Total spending on <%= @category.name %>: £<%= '%.2f' % @category.spending   %></h2>
<hr>

<% @transactions.select {|transaction| transaction.category.name == @category.name}.each do |transaction| %>

<div class="grid-row">

  <div class="cell">
    <p> Date: <%= transaction.time_stamp()[0..9] %> </p>
  </div>
  <div class="cell">
    <p>Amount: £<%= '%.2f' % transaction.amount  %></p>
  </div>
  <div class="cell">
    <p>Merchant: <%= transaction.merchant.name %> </p>
  </div>
  <div class="cell">
    <p>Category: <%= transaction.category.name %></p>
  </div>

</div>
<% end %>
<hr>
